/**/*.i
/**/*.user
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/**/zlog.lock
/**/TestResults/**
*.received.*
/**/*.vsp*
/**/*.psess
/**/launchSettings.json
/.vscode/**
/build/**
# Don't ignore the strong-name key (it's not a secret)
!/build/
!/build/Opc.Classic.snk
*.user
/**/packages/**
/**/packages.config
/**/Release/**
/**/Debug/**
/**/BuildOutput/**
# Ignore editor backup files
*~

# Vendored CoreComponents CMake build outputs (do not commit binaries)
/ext/CoreComponents/build/**
/ext/CoreComponents/out/**
/ext/CoreComponents/.vs/**
