/**/*.i
/**/*.user
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/**/zlog.lock
/**/TestResults/**
/**/*.vsp*
/**/*.psess
/**/launchSettings.json
/.vscode/**
/build/**
# Don't ignore the strong-name key (it's not a secret)
!/build/
!/build/OpcClassic.snk
*.user
/**/packages/**
/**/packages.config
/**/Release/**
/**/Debug/**
/**/BuildOutput/**
# Ignore editor backup files
*~

# DocFX build output
_site/
.docfx-cache/
